In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("../数据收集/games.xlsx")
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22016,1610612749,MIL,Milwaukee Bucks,21601219,2017-04-12,MIL @ BOS,L,240,37,...,34,43,26,6,9,17,20,94,-18,1
1,22016,1610612738,BOS,Boston Celtics,21601219,2017-04-12,BOS vs. MIL,W,240,41,...,35,45,31,12,3,8,17,112,18,1
2,22016,1610612757,POR,Portland Trail Blazers,21601230,2017-04-12,POR vs. NOP,L,240,41,...,39,53,22,4,2,25,18,100,-3,1
3,22016,1610612740,NOP,New Orleans Pelicans,21601230,2017-04-12,NOP @ POR,W,240,40,...,31,42,20,13,3,11,17,103,3,1
4,22016,1610612746,LAC,LA Clippers,21601228,2017-04-12,LAC vs. SAC,W,240,43,...,32,43,29,4,6,6,15,115,20,1

In [4]:
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [6]:
df.std().sort_values()

SEASON_ID            0.000000
FG_PCT               0.053851
FG3_PCT              0.094733
FT_PCT               0.099940
VIDEO_AVAILABLE      0.102282
BLK                  2.475512
STL                  2.895733
FG3M                 3.495010
OREB                 3.750565
TOV                  3.880387
PF                   4.239025
FGM                  4.956133
AST                  5.239523
DREB                 5.277735
FTM                  6.087505
REB                  6.375038
FG3A                 6.679042
FGA                  7.075553
FTA                  7.280983
MIN                  8.244191
TEAM_ID              8.657201
PTS                 12.148947
PLUS_MINUS          14.041158
GAME_ID            355.142489
dtype: float64