In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('../数据清洗整理/features.xlsx')
df.columns

Index(['AST', 'BLK', 'BLKA', 'DREB', 'FG3A', 'FG3M', 'FGA', 'FGM', 'FTA',
       'FTM', 'OREB', 'PF', 'PFD', 'PTS', 'PTS_2ND_CHANCE', 'PTS_FB',
       'PTS_OFF_TOV', 'PTS_PAINT', 'REB', 'STL', 'TOV', 'OPP_AST', 'OPP_BLK',
       'OPP_BLKA', 'OPP_DREB', 'OPP_FG3A', 'OPP_FG3M', 'OPP_FGA', 'OPP_FGM',
       'OPP_FTA', 'OPP_FTM', 'OPP_OREB', 'OPP_PF', 'OPP_PFD', 'OPP_PTS',
       'OPP_PTS_2ND_CHANCE', 'OPP_PTS_FB', 'OPP_PTS_OFF_TOV', 'OPP_PTS_PAINT',
       'OPP_REB', 'OPP_STL', 'OPP_TOV'],
      dtype='object')

In [4]:
games = df.index
length = len(df.index)
def find_similar_games(start,features,criteria):
    result=[]
    is_similar = True
    for num in range(start+1,length):
        d = df.iloc[num]
        for i,feature in enumerate(features):
            if np.fabs(d[feature]-df.iloc[start][feature])>criteria[i]:
                is_similar = False
                break
        if is_similar and num-start>1:
            result.append(num)
    return result
                
similar_games = []
for i in range(0,length):
    similar_games.append(find_similar_games(i,['PTS','OPP_PTS'],[3,3]))
    if i%50==0:
        print(i)

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000
1050
1100
1150
1200
1250
1300
1350
1400
1450
1500
1550
1600
1650
1700
1750
1800
1850
1900
1950
2000
2050
2100
2150
2200
2250
2300
2350
2400
2450

In [6]:
test = [[(i,r)for r in res] for i,res in enumerate(similar_games) if res]
test

[[(958, 960), (958, 961)],
 [(959, 961)],
 [(1404, 1406)],
 [(1504, 1506)],
 [(1784, 1786)],
 [(2198, 2200), (2198, 2201)],
 [(2199, 2201)],
 [(2330, 2332)]]

In [11]:
df.iloc[[1404,1406]]

,AST,BLK,BLKA,DREB,FG3A,FG3M,FGA,FGM,FTA,FTM,...,OPP_PF,OPP_PFD,OPP_PTS,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_OFF_TOV,OPP_PTS_PAINT,OPP_REB,OPP_STL,OPP_TOV
21600703,24,5,3,32,26,9,77,37,33,26,...,26,19,112,13,3,16,28,33,2,12
21600704,24,7,5,27,37,12,75,36,24,22,...,23,25,109,15,10,14,48,38,6,10