- 预测大小
- 预测下一场比赛得分（相对于当前比赛）的涨落
- 都属于分类问题，属性选用之前比赛的数据

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter
%matplotlib inline

In [2]:
df = pd.read_excel('../数据清洗整理/2016-17-records.xlsx')
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE',
       'TEAM_NAME_中文', 'TEAM_ID_Away', 'TEAM_ABBREVIATION_Away',
       'TEAM_NAME_Away', 'MATCHUP_Away', 'WL_Away', 'FGM_Away', 'FGA_Away',
       'FG_PCT_Away', 'FG3M_Away', 'FG3A_Away', 'FG3_PCT_Away', 'FTM_Away',
       'FTA_Away', 'FT_PCT_Away', 'OREB_Away', 'DREB_Away', 'REB_Away',
       'AST_Away', 'STL_Away', 'BLK_Away', 'TOV_Away', 'PF_Away', 'PTS_Away',
       'PLUS_MINUS_Away', 'TEAM_NAME_中文_Away', 'awayOdds', 'awayQuarter1Score',
       'awayQuarter2Score', 'awayScore', 'awayTeamId', 'awayTeamName', 'betId',
       'expertsNum', 'firstAwayOdds', 'firstHostOdds', 'hostOdds',
       'hostQuarter1Score', 'hostQuarter2Score', 'hostScore', 'hostTeamId',
       'hostTeamName', 'jcLetScore', 'jcTotalScore', 'leagueId', 'leagueName',
       'leagueType', 'letScoreTape', 'matchResult', 'matchStatus', 'matchTime',
       'roundType', 'totalScoreTape', 'gameDate'],
      dtype='object')

In [3]:
df[['totalScoreTape','hostScore','awayScore','jcTotalScore','jcLetScore','letScoreTape','matchResult']].head()

,totalScoreTape,hostScore,awayScore,jcTotalScore,jcLetScore,letScoreTape,matchResult
0,2120,100,129,211.5,-8.5,85,0
1,1930,113,104,192.5,-6.5,60,3
2,2045,117,88,205.5,-9.5,95,3
3,2080,97,103,208.5,9.5,-85,0
4,2115,122,117,210.5,-12.5,130,3

In [4]:
df['总分']=df['hostScore']+df['awayScore']
df['大小']=(df['总分']-df['jcTotalScore']).map(lambda x:'大' if x>0 else '小')
df[['hostScore','awayScore','jcTotalScore','总分','大小']].head()

   hostScore  awayScore  jcTotalScore   总分 大小
0        100        129         211.5  229  大
1        113        104         192.5  217  大
2        117         88         205.5  205  小
3         97        103         208.5  200  小
4        122        117         210.5  239  大

In [5]:
df_group = df.groupby('大小')
df_group.mean()[['AST','AST_Away','BLK','BLK_Away','PF','PF_Away','FG3A','FG3A_Away']]
#从结果可以看出 大小不同的比赛的各项数据差别不大

,AST,AST_Away,BLK,BLK_Away,PF,PF_Away,FG3A,FG3A_Away
大小,,,,,,,,
大,24.343750,22.901563,4.846875,4.546875,19.909375,20.787500,27.589063,27.468750
小,22.279661,20.810169,5.055932,4.532203,19.033898,19.786441,26.308475,26.545763

In [6]:
a = df_group.get_group('大')['hostTeamName'].value_counts()
b = df_group.get_group('大')['awayTeamName'].value_counts()
c = df_group.get_group('小')['hostTeamName'].value_counts()
d = df_group.get_group('小')['awayTeamName'].value_counts()

In [7]:
pd.DataFrame([a,b,c,d],index=['主场大','客场大','主场小','客场小']).T.sort_values(by='主场大')

      主场大  客场大  主场小  客场小
活塞     15   22   26   19
小牛     15   21   26   20
灰熊     16   24   25   17
老鹰     19   16   22   25
步行者    19   23   22   18
快船     19   26   22   15
76人    19   25   22   16
公牛     19   16   22   25
黄蜂     20   24   21   17
魔术     20   22   21   19
国王     20   17   21   24
森林狼    20   22   22   19
篮网     20   24   21   17
爵士     20   24   21   17
勇士     21   16   20   25
雷霆     21   20   20   21
尼克斯    22   21   19   20
骑士     23   24   18   17
热火     23   16   18   25
凯尔特人   23   18   18   23
湖人     23   22   18   19
鹈鹕     24   16   17   25
马刺     24   21   17   20
开拓者    24   23   17   19
奇才     24   27   17   14
火箭     25   22   16   19
雄鹿     25   19   16   22
掘金     25   27   16   14
太阳     26   24   15   17
猛龙     27   19   14   22