- 预测大小
- 预测下一场比赛得分（相对于当前比赛）的涨落
- 都属于分类问题，属性选用之前比赛的数据

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter
%matplotlib inline

In [2]:
df = pd.read_excel('../数据清洗整理/2016-17-records.xlsx')
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE',
       'TEAM_NAME_中文', 'TEAM_ID_Away', 'TEAM_ABBREVIATION_Away',
       'TEAM_NAME_Away', 'MATCHUP_Away', 'WL_Away', 'FGM_Away', 'FGA_Away',
       'FG_PCT_Away', 'FG3M_Away', 'FG3A_Away', 'FG3_PCT_Away', 'FTM_Away',
       'FTA_Away', 'FT_PCT_Away', 'OREB_Away', 'DREB_Away', 'REB_Away',
       'AST_Away', 'STL_Away', 'BLK_Away', 'TOV_Away', 'PF_Away', 'PTS_Away',
       'PLUS_MINUS_Away', 'TEAM_NAME_中文_Away', 'awayOdds', 'awayQuarter1Score',
       'awayQuarter2Score', 'awayScore', 'awayTeamId', 'awayTeamName', 'betId',
       'expertsNum', 'firstAwayOdds', 'firstHostOdds', 'hostOdds',
       'hostQuarter1Score', 'hostQuarter2Score', 'hostScore', 'hostTeamId',
       'hostTeamName', 'jcLetScore', 'jcTotalScore', 'leagueId', 'leagueName',
       'leagueType', 'letScoreTape', 'matchResult', 'matchStatus', 'matchTime',
       'roundType', 'totalScoreTape', 'gameDate', '总分', '大小分', '比赛双方'],
      dtype='object')

In [3]:
df[['totalScoreTape','hostScore','awayScore','jcTotalScore','jcLetScore','letScoreTape','matchResult']].head()

,totalScoreTape,hostScore,awayScore,jcTotalScore,jcLetScore,letScoreTape,matchResult
0,2080,97,103,208.5,9.5,-85,0
1,2050,72,104,201.5,8.5,-70,0
2,1975,101,103,197.5,5.5,-50,0
3,2075,101,102,205.5,13.5,-140,0
4,1925,84,109,192.5,7.5,-70,0

In [4]:
df[['hostScore','awayScore','jcTotalScore','总分','大小分']].head()

   hostScore  awayScore  jcTotalScore   总分 大小分
0         97        103         208.5  200   小
1         72        104         201.5  176   小
2        101        103         197.5  204   大
3        101        102         205.5  203   小
4         84        109         192.5  193   大

In [5]:
df_group = df.groupby('大小分')
df_group.mean()[['AST','AST_Away','BLK','BLK_Away','PF','PF_Away','FG3A','FG3A_Away']]
#从结果可以看出 大小不同的比赛的各项数据差别不大

,AST,AST_Away,BLK,BLK_Away,PF,PF_Away,FG3A,FG3A_Away
大小分,,,,,,,,
-,24.483333,21.666667,5.450000,4.783333,19.366667,20.250000,28.75000,27.600000
大,24.681583,23.323580,4.714286,4.411360,20.201377,21.046472,27.51463,27.490534
小,21.928693,20.516129,5.125637,4.641766,18.799660,19.584041,26.26146,26.509338

In [6]:
a = df_group.get_group('大')['hostTeamName'].value_counts()
b = df_group.get_group('大')['awayTeamName'].value_counts()
c = df_group.get_group('小')['hostTeamName'].value_counts()
d = df_group.get_group('小')['awayTeamName'].value_counts()

In [7]:
pd.DataFrame([a,b,c,d],index=['主场大','客场大','主场小','客场小']).T.sort_values(by='主场大')

      主场大  客场大  主场小  客场小
小牛     13   19   26   20
活塞     14   19   26   19
公牛     16   14   22   25
灰熊     16   20   25   17
老鹰     17   14   22   25
勇士     17   13   20   25
爵士     17   23   21   17
步行者    17   22   22   18
快船     17   24   22   15
森林狼    18   21   21   19
76人    18   23   22   16
黄蜂     19   21   21   17
国王     19   14   21   24
篮网     19   21   21   17
魔术     19   19   21   19
热火     20   15   18   25
开拓者    20   22   17   18
凯尔特人   20   16   18   23
雷霆     20   18   20   21
骑士     20   23   18   17
尼克斯    21   17   19   20
鹈鹕     21   13   17   25
马刺     21   20   17   20
奇才     22   25   17   14
湖人     22   21   18   19
火箭     23   20   16   19
太阳     23   24   15   17
掘金     24   25   16   14
雄鹿     24   17   16   22
猛龙     24   18   14   22