In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from get_train_data import GetTrainData
%matplotlib inline

In [4]:
s=pd.Series()
s.values

array([], dtype=float64)

属性构建
- 考虑自我的属性：本场比赛与过去N场比赛的x、y中位数比较的结果（可取的值为两组0，1，还是-1,0,1？）；比较的指标有 FGM、FTM、AST、FG3M、OREB
- 考虑对手的属性：本场比赛与下场比赛的对手的比较（可取的值为0或者1，需要考虑权重？），比较的内容可以概括为防守能力和防守特点，具体指标有：考虑过去N场比赛均值，PTS_OPP、FG3M_OPP、AST_OPP、FGM_OPP、OREB_OPP、DREB

In [2]:
df = pd.read_excel('../数据清洗整理/2012-13-records-team_games.xlsx')
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'TEAM_NAME_中文',
       'jcTotalScore', '总分', '大小分', '比赛双方', '球队_OPP', 'FGM_OPP', 'FG3M_OPP',
       'PTS_OPP', 'AST_OPP', 'OREB_OPP'],
      dtype='object')

1.获取某个队前N场比赛，计算x,y中位数，比较第N+1场比赛FGM等指标与x,y中位数的大小，取-1,0,1三个值，依次将该队的数据(N+2，...80)计算完成
2.获取某个队第N场比赛和第N+1场比赛的对手，计算两队前N场比赛的OPP_FGM等指标均值（怎么获取OPP_FGM等指标？问题难点：球队名称可能出现在host或者away两个位置，指标值也分host和away两种。解决方案：新建一个excel文件，每行一个球队，每场比赛变成2行，每一行添加‘OPP_FGM’等指标），依次将该队的数据(N+2,...80)计算完成

In [3]:
teams = df['TEAM_NAME_中文'].unique()
getData = GetTrainData()
df_team = getData.get_team_features(df[df['TEAM_NAME_中文']==teams[0]])
df_team.head(10)

,AST_big_0.75,AST_small_0.25,FG3M_big_0.75,FG3M_small_0.25,FGM_big_0.75,FGM_small_0.25,FTM_big_0.75,FTM_small_0.25,OREB_big_0.75,OREB_small_0.25
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
3,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

In [9]:
a,b = getData.validate_feature(df[df['TEAM_NAME_中文']==teams[0]],18)
a

        FGM   FTM    AST  FG3M   OREB
0.25  37.25   6.0  22.25  4.25   8.50
0.75  42.50  16.5  24.00  7.75  13.75

In [10]:
b

FGM     39
FTM     10
AST     28
FG3M    11
OREB    10
Name: 18, dtype: int64